<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>yo
    </title>
</head>

<body>

    <div class="filter-bar">
        <p class="filter">
            <i class="fas fa-filter"></i> Filtres:
            <button class="filter-btn">Toutes les catégories</button>
            <button class="filter-btn">Tous les prix</button>
            <button class="filter-btn">Trier par date</button>
        </p>
        <p>
            <%= data.length %> événements trouvés
        </p>
    </div>

    <div class="event-container">

        <% data.forEach(data=> { %>
            <div class="event-card">
                <div class="card-header">
                    <img src="/<%= data.image_url %>" alt="<%= data.title %>">
                    <span class="event-category">
                        <%= data.category %>
                    </span>
                </div>

                <div class="event-details">
                    <h3>
                        <%= data.title %>
                    </h3>
                    <p>
                        <%= data.description %>
                    </p>

                    <p>
                        <i class="far fa-calendar-alt"></i>
                        <%= data.date %><br>
                            <i class="fas fa-map-marker-alt"></i>
                            <%= data.location %>
                    </p>

                    <div class="event-footer">
                        <span>
                            <%= data.attendance %>/<%= data.capacity %>
                        </span>
                        <span style="font-weight: bold;">$ <%= data.price %></span>
                    </div>
                </div>
            </div>
            <% }) %>
    </div>

    <!-- <form method="POST" action="/new_event" style="padding: 20px; border-top: 1px solid #eee; margin-top: 20px;">
        <h3>Ajouter un nouvel événement (Test)</h3>
        Nom de l'event : <input name="name"><br><br>
        Date de l'event : <input name="date"><br><br>
        Ville de l'event : <input name="city"><br><br>
        <button>Envoyer</button>
    </form> -->

</body>

</html>